.container{
    background-color: rgb(174, 216, 219);
    margin: auto;
    margin-top: 30px;
    min-width: 50px; 
    max-width: 500px; 
}

.display{
    background-color: rgb(231, 235, 236);
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

    margin-bottom: 10px;
    height: 100%;
    min-height: 50px;
    width: 100%;

    word-wrap: break-word;
}


table{
    margin: auto;
    padding-bottom: 20px;
    border-spacing: 20px;
}

table #keys0 button{
    background-color: rgb(120, 178, 233);
    font-size: 20px;
    padding: 10px 10px;
    margin: 0px 0px;
    color: white;
    border: none;
    cursor: pointer;
}

table #keys1 button,#keys2 button,#keys3 button,#keys4 button{
    background-color: rgb(114, 112, 108);
    font-size: 20px;
    padding: 10px 70%;

    color: white;
    border: none;
    cursor: pointer;
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0px;
}
